header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
    flex: 1;
}
.logo {
	font-weight: 500;
	margin: 5px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
    color: #444444;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #616161;
	font-size: 18px;
	text-decoration: underline 2px;
}
.cart {
	flex: 1;
    justify-content: flex-end;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}
button {
	font-family: 'Poppins', sans-serif;
}
.radius {
    border-radius: 50%;
    width: 15%;
    height: 15%;
}
.droite {
	flex: 1;
	display: flex;
	justify-content: center;
	margin-right: 50px;
	margin-top: 150px;
	z-index: 2;
}
.gauche {
	flex: 1;
	justify-content: center;
	display: flex;
	float: left;
	width: 50%;
	height: 50%;
	margin-left: 5%;
	z-index: 1;
}
.align {
	justify-content: center;
}
.center {
	vertical-align: center;
}
.centered {
	flex: 1;
	vertical-align: center;
	font-size: 5vw;
	height: 50%;
	justify-content: center;
	display: flex;
	z-index: 1;
}

.bouton{
	flex: 1;
	vertical-align: center;
	align-items: center;
	justify-content: center;
	border: solid 3px rgb(0, 0, 0);
	width: 40%;
	display: inline-block;
	/*border-radius: 10px;*/
	background-color: rgb(141, 70, 70);
	color: rgb(255, 255, 255);

}
.center1 {
	flex: 1;
	text-align: center;
	vertical-align: center;
	justify-content: center;
	display: flex;
	z-index: 1;
	font-size: 1vw;
}
.section2 {
	margin-right: 30%;
	margin-left: 30%;
	align-items: center;
	margin-top: 2vw;
} 
html {
	background-color: rgb(196, 196, 196);
}
.sep {
	width: 100%;
	height: 1px;
}