html{
    background-color:rgb(104, 104, 104) no-repeat center fixed; 
}
* {
    box-sizing: border-box;
  }
  
.column {
    margin-top: 5px;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 800px;
    text-align:center;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.repo {
  margin-top:250px;
  font-family:georgia, serif;
}

.col0 {
    width:100%;
    text-align:center;
}
.col1 {
  background: url("general1.jpg") no-repeat center fixed;
  z-index: 1;
  margin-right: 0px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.col1:hover {
margin-right: -10px;
}
.col2 {
  background: url("kali_testing.jpg") no-repeat center fixed;
  z-index: 1;
  margin-right: 0px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.col2:hover {
margin-right: -10px;
}
.col3 {
  background: url("metasploitable4.jpg") fixed no-repeat;
}

.big {
  font-size: 100px;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: rgb(146, 43, 43);
}
.shadow {
  color: #9e3838;
  background-color: #a13939;
  letter-spacing: .1em;
  text-shadow: 
    -1px -1px 1px rgb(143, 45, 45), 
    2px 2px 1px #c03c3c;
}

.ilfautunfond {
  background: url("penetration_testing1.png") ;
}
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  margin-left:915px;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: rgb(255, 0, 0);
  animation-name: scroll;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.p_style{
  color:rgb(255, 255, 255);
  position:relative;
  bottom:50px;
  font-size:20px;
  font-family:Apple Chancery, cursive;
  text-shadow:rgb(235, 0, 0);
}
