*{box-sizing: border-box }

img{
max-width:100%
}


.slide{
border: 5px solid white;
overflow: hidden;
max-width: 600px;
margin: 2rem auto;
position: relative
}

.slide ul{
padding-bottom: 66.67%;
margin: 0;
list-style-type: none;
position: relative
}


.slide li{
top: 0;
left: 0;
animation: slideshow 20s ease infinite;
position: absolute;
opacity: 0;
}

.slide li:nth-child(2){
animation-delay: 5s
}

.slide li:nth-child(3){
animation-delay: 10s
}

.slide li:nth-child(4){
animation-delay: 15s
}

.slide li:nth-child(5){
animation-delay: 25s
}

@keyframes slideshow{
0%{opacity: 0}
10%{opacity: 1}
20%{opacity: 1}
25%{opacity: 0}
100%{opacity: 0}
}
.slide span{

background: rgba(0,0,0,0.7);
height: 40px;
align-items: center;
justify-content: center;
display: flex;
color: white;
position: absolute;
bottom: 0;
right: 0;
left: 0
}